
:root {
    font-family: system-ui, sans-serif;
    --c-dark-bg: rgb(44, 44, 44);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(44, 44, 44);
}

.container {
    background-color: rgb(44, 44, 44);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

/* APP LEFT PART */

.left_container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 40vw;
    height: auto;
}

/* APP RIGHT PART */

.right_container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-base {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}